# Ignore all
*

# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Unignore template in cpp
!cpp/template
# ignore idea
**/.idea



#ignore inputs (because user specific)
**/input.txt
inputs

build
!run
**/.vscode
